/* Fonts */
@font-face{
    src: url(../source/font/Raleway/Raleway-VariableFont_wght.ttf);
    font-family: Ralewey;
}
@font-face{
    src: url(../source/font/Quicksand/Quicksand-VariableFont_wght.ttf);
    font-family: Quick;
}
/* Fonts */

/* Border */
.B{
  border: 1px solid red;
}
/* Border */

/* Laptop */
body.body{
    font-family: Quick;
}
#navigasi{
  background-color: black;
  width: 100%;
}
#itemNav{
  margin: 1rem;
}
#logo{
  font-size: 24px !important;
  color: white;
  text-decoration: none;
}
#bungkusLogo{
  margin: 10px;
}
a.Item{
  margin: 20px !important;
  font-size: 18px;
  color: white !important;
  text-decoration: none !important;
}
#itemNav{
  align-items: center;
}
#tombolNav{
  display: none;
  margin-left: 20%;
}

/* Laptop */

/* Hape */
@media only screen and (max-width: 768px){
  #logo{
    text-align: center;
  }
  .Item{
    display: none;
  }
  #tombolNav{
    float: right;
    width: 25px;
    height: 25px;
    display: block;
  }
  div.col-7{
    width: 20%;
  }
}
@media only screen and (max-width: 425px){

}
/* Hape */
